body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Light background for better contrast */
    margin: 0;
    padding: 20px;
}

button {
    background-color: #151e17;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}